#main {
    padding: 0 1rem;
}

.home-box {
    border: 1px solid #ccc;
    max-width: 1000px;
    height: 200px;
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
}

.home-box-nav {
    width: 90%;
    margin: 1rem 0 0 5%;
    display: flex;
    justify-content: space-between;
}

.home-box-nav-date {
    color: #ccc;
}

.categories-button {
    border: 1px solid #06c;
    border-radius: 0.2rem;
    color: #06c;
    margin: 0 .3rem;
    padding: 0.5rem;
    background-color: #fff;
}

.home-box-texts {
    height: 150px;
    margin-left: 5%;
}

.home-box-texts-title {
    font-weight: lighter;
    font-size: 1.5rem;

}

