.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	height: 80px;
}

.nav p {
	color: #fff;
	margin: 0 2rem;
	font-size: 1.2rem;
	font-weight: bold;
}